<div class="wrapper">
    <div class="logo"> <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-3 name"> Register </div>
    <form class="p-3 mt-2 formgroup" [formGroup]="myFormGroup" (ngSubmit)="register()">
        <!-- REGISTERED SUCCESSFULLY DIV -->
        <div class="col-lg-3">
            <div *ngIf="showElement" class="msg mt-1">
                <div id="alert-dismissible" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Registered successfully!</strong>
                </div>
            </div>
        </div>
        <!-- REGISTERED SUCCESSFULLY DIV -->

        <label for="firstName">First Name: </label>
        <div class="form-field d-flex flex-column  mb-2">
            <input type="text" name="firstName" id="firstName" class="mb-2 form-control shadow-none" [formControl]="myFormGroup.controls['firstName']" #firstName placeholder="Enter your firstName">
        </div>


        <label for="lastName">Last Name: </label>
        <div class="form-field d-flex flex-column mb-2">
            <input type="text" name="lastName" id="lastName" class="mb-1 form-control shadow-none" [formControl]="myFormGroup.controls['lastName']" #lastName placeholder="Enter your last name">
        </div>


        <label for="email">Email: </label>
        <div class="form-field d-flex flex-column  mb-2">
            <input type="text" name="email" id="userEmail" class="mb-1 form-control shadow-none" [formControl]="myFormGroup.controls['email']" [ngClass]="{'warningOutline' : emailValid,'warningOutline1' : emailNotAvailable}" #email (keyup)="emailValidation(email)"
                placeholder="Enter your email address">
            <div class="text-danger">
                <small *ngIf="emailValid">Enter Valid Email Id</small>
            </div>
            <div class="text-danger"><small *ngIf="emailNotAvailable">Entered Email already taken!!</small>
            </div>
        </div>


        <label for="contact">contact no: </label>
        <div class="form-field d-flex flex-column mb-2">
            <input type="text" name="contact" id="contact" #contact class="mb-1 form-control shadow-none" (keyup)="phoneNumberValidaton(contact)" [ngClass]="{'warningOutline' : phoneValidation}" [formControl]="myFormGroup.controls['contact']" placeholder="Enter Contact Number">
            <div class="text-danger">
                <small *ngIf="phoneValidation">Enter Valid Phone Number </small>
            </div>
            <div class="text-danger">
                <small *ngIf="phoneValidationIsNan">Enter numbers only!</small>
            </div>
        </div>


        <label for="password">Password: </label>
        <div class="form-field d-flex flex-column  mb-2">
            <input type="password" name="password" id="password" #password class="mb-1 form-control shadow-none" [formControl]="myFormGroup.controls['password']" (keyup)="checkPrePassword(password)" placeholder="Enter password">
            <div class="text-danger">
                <small *ngIf="passwordLength">password should be greater than 6 and less than 12 characters </small>
            </div>
        </div>



        <label for="re-password">confirm password: </label>
        <div class="form-field d-flex flex-column mb-2">
            <input type="password" name="re-password" id="password" #rePassword class="mb-1 form-control shadow-none" [formControl]="myFormGroup.controls['rePassword']" [ngClass]="{'warningOutline' : passwordValidation}" (keyup)="checkPassword(password,rePassword)"
                placeholder="confirm password">
            <div class="text-danger">
                <small *ngIf="prePasswordCheck">Enter password first</small>
            </div>
            <div class="text-danger">
                <small *ngIf="passwordValidation">Password didn't matched</small>
            </div>
        </div>

        <button class="btn mt-3">Register</button>
    </form>
    <div class="text-center fs-6"> Already a user ? <a [routerLink]="['/login']">Back to Login</a> </div>
</div>