<div class="wrapper">
    <div class="logo"> <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=" twitter-logo">
    </div>
    <div class="text-center mt-2 name"> Update-Password </div>
    <div *ngIf="showElement" class=" msg mt-1">
        <div id="alert-dismissible" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Password Updated!</strong>
        </div>
    </div>
    <form class="p-3 mt-1 formgroup" [formGroup]="myFormGroup" (ngSubmit)="forgot()">

        <label for="email">Email: </label>
        <div class="form-field d-flex flex-column">
            <input class="custom-field form-control shadow-none" type="text" name="email" id="email" required [formControl]="myFormGroup.controls['email']" [ngClass]="{'warningOutline' : emailValid}" (keyup)="emailValidation(email)" #email placeholder="Enter your Email">
            <div class="text-danger">
                <small *ngIf="emailValid">Enter Valid Email Id</small>
            </div>
        </div>

        <label for="contact">Contact number: </label>
        <div class=" form-field d-flex flex-column">
            <input class="custom-field form-control shadow-none" type="text" name="contact" id="contact" required [formControl]="myFormGroup.controls['contact']" (keyup)="phoneNumberValidaton(contact)" [ngClass]="{'warningOutline' : phoneValidation}" #contact placeholder="Enter your contact number">
            <div class="text-danger">
                <small *ngIf="phoneValidation">Enter Valid PhoneNumber</small>
            </div>
            <div class="text-danger"> <small *ngIf="phoneValidationIsNan">Enter numbers only!</small></div>
        </div>


        <label for="password">New Password: </label>
        <div class=" form-field d-flex flex-column">
            <input class="custom-field form-control shadow-none" type="password" name="password" id="password" required [formControl]="myFormGroup.controls['password']" (keyup)="checkPrePassword(password)" #password placeholder="Enter new password">
            <div class="text-danger">
                <small *ngIf="passwordLength">password length must be between 6 to 12 characters </small>
            </div>
        </div>


        <label for="rePassword">Confirm new password: </label>
        <div class=" form-field d-flex flex-column">
            <input class="custom-field form-control shadow-none" type="password" name="rePassword" id="repassword" required [formControl]="myFormGroup.controls['rePassword']" type="password" [ngClass]="{'warningOutline' : passwordValidation}" (keyup)="checkPassword(password,rePassword)"
                #rePassword placeholder="Enter password again">
            <div class="text-danger">
                <small *ngIf="passwordValidation">Password didn't matched</small>
            </div>
            <div class="text-danger"> <small *ngIf="prePasswordCheck">Enter password first</small></div>
        </div>


        <button class="btn mt-3">Update Password</button>
        <div class="text-center mt-3">
            <small *ngIf="noMMatching" class="text-danger">Entered Email Id and Contact Number didn't match !</small>
        </div>
    </form>
    <div class="text-center fs-6"> <a [routerLink]="['/login']"> back to login</a> or <a [routerLink]="['/register']">Sign up</a> </div>
</div>