<app-nav-bar class="top"></app-nav-bar>

<div class="container">
    <div class="bg-light py-3 mt-4" style="text-align: center;">
        <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Users</h3>

    </div>
    <form [formGroup]="myFormGroup" class="form-inline mt-4 mb-4 mr-auto" (ngSubmit)="search()">
        <input class="form-control search-input mr-auto shadow-none" type="search" (keyup)="enableSearchButton()" [formControl]="myFormGroup.controls['search']" placeholder="Search Username" aria-label="Search">
        <button *ngIf="!enableButtonForSearch" class="btn search btn-secondary mr-1" disabled type="submit"><b class="search-text">Search</b><i class="ml-1 bi bi-search"></i></button>
        <button *ngIf="enableButtonForSearch" class="btn search mr-1" type="submit"><b class="search-text">Search</b><i class="ml-1 bi bi-search"></i></button>
    </form>
    <p *ngIf="showSearchedText">You have searched for : <b>{{searchedText}}</b></p>
    <div class="table-responsvie">

        <table class="table table-hover table-curved text-center mb-5">

            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>Email/Username</th>
                    <th>Name</th>
                    <th>View Tweets</th>
                </tr>
            </thead>

            <tbody *ngFor="let names of userModel; index as i">
                <tr class="wrapper">
                    <th scope="row">{{i+1}}</th>
                    <td>{{names.username}}</td>
                    <td>{{names.firstName}} {{names.lastName}}</td>
                    <td>
                        <button type="button" class="btn button" (click)="getDetails(names.username)">
                view tweets</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="noUsersToDisplay" class="row text-center">
        <h3 class="col-12">No users found with username {{searchedText}}!!</h3>
    </div>
    <app-scroll-top></app-scroll-top>

</div>
<app-footer class="footer"></app-footer>